<div id="page_wrapper">
	<h2>Adicionar Comentário:</h2>
	<%= render(partial: 'form', locals: { parent: @parent, comment: @comment }) %>
	<p>&nbsp&nbsp&nbsp<button class="button"><%= link_to 'Back', :back %></button></p>
</div>