<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hello, Eu sou Mateus Cardoso</h1>
		<p>Esse é o projeto web desenvolvido para seleção de estágio.</p>
		<p>No momento este aplicativo está em desenvolvimento, logo pode haver <br>alguns bugs e erros.</p>
		<p>Esse projeto está sendo feito em Ruby on Rails, caso deseje falar comigo <br>ou conseguir mais informações me procure no Twitter <a href="https://twitter.com/mateuscxd">@mateuscxd</a>. <br>Todo o conteúdo do projeto pode ser encontrado <a href="https://github.com/mateusc42/Blog-Web-Project">github</a>.</p> 
	</div>
</div>
