<div id="page_wrapper">
	<h2>Log in</h2><br>

	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div class="form-inputs">
	    <%= f.input :email, label: 'Email do Usuário', required: false, autofocus: true %><br><br>
	    <%= f.input :password, required: false %><br><br>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, "Log in" %>
	  </div><br>
	<% end %>
	
</div>

