.row .row { margin:  0 -1.5em; }
.col      { padding: 0  1.5em; }

.row:after {
    content: "";
    clear: both;
    display: table;
}

@media only screen { .col {
    float: left;
    width: 100%;
    box-sizing: border-box;
}}

.container { max-width: 90em; }

@media only screen and (min-width: 76em) {
	.content { width: 59.33%; } /* 7/12 */
	.sidebar { width: 40.66%; } /* 5/12 */
	.info    { width: 50%;    }
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased; }


.wrapper {
    margin: 0 auto;
    padding: 14px 0 7px;
    max-width: 800px; }

.table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table; }
    .table.two {
        width: 50%; }

.row {
    display: table-row;
    background: #f6f6f6; }
    .row:nth-of-type(odd) {
        background: #e9e9e9; }
    .row.header {
        font-weight: 900;
        color: #ffffff;
        background: #ea6153; }
    .row.green {
        background: #27ae60; }
    .row.blue {
        background: #2980b9; }


.cell {
    padding: 6px 27px;
    display: table-cell; }

